{% extends "base.html" %}
{% block css %}
thead{
    word-wrap: break-word;
    white-space: pre;
}
td{
    word-wrap: break-word;
    white-space: pre;
}
{% end %}
{% block content %}
<div id="page-wrapper">
    <div class="header">
        <h1 class="page-header">
                            御剑飞仙订单管理后台
                        </h1>
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Tables</a></li>
            <li class="active">Data</li>
        </ol>
    </div>
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Advanced Tables
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>订单编号</th>
                                        <th>订单编号(quick版)</th>
                                        <th>角色名</th>
                                        <th>角色id</th>
                                        <th>购买产品</th>
                                        <th>购买数量</th>
                                        <th>充值的元宝数量</th>
                                        <th>对应人民币</th>
                                        <th>下单时间</th>
                                        <th>支付状态</th>
                                        <th>是否是测试订单</th>
                                        <th>区id</th>
                                        <th>区名</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for index, row in enumerate(data) %}
                                    {% if index % 2 == 1 %}
                                    <tr class="odd gradeX">
                                    {% else %}
                                    <tr class="even gradeC">
                                    {% end %}
                                        <td>{{row['orderName']}}</td>
                                        <td>{{row['quickOrder']}}</td>
                                        <td>{{row['roleName']}}</td>
                                        <td>{{row['roleId']}}</td>
                                        <td>{{row['productId']}}</td>
                                        <td>{{row['productCount']}}</td>
                                        <td>{{row['count']}}</td>
                                        <td>{{row['amount']}}</td>
                                        <td>{{row['pay_time']}}</td>
                                        <td>{{row['paySuccess']}}</td>
                                        <td>{{row['is_test']}}</td>
                                        <td>{{row['serverId']}}</td>
                                        <td>{{row['serverName']}}</td>
                                        <!-- <td class="center">4</td> -->
                                    </tr>

                                    {% end %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </div>
</div>
</div>
{% end %}

{% block js %}
<script src="{{static_url('js/dataTables/jquery.dataTables.js')}}"></script>
<script src="{{static_url('js/dataTables/dataTables.bootstrap.js')}}"></script>
<script>
$(document).ready(function() {
    $('#dataTables-example').dataTable();
});
</script>
{% end %}